/* BODY */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: black;
    background-color: #e9f4fb;
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
        line-height: 32px;
        background-color: black;
    }
}


/* HUVUDINNEHÅLL */
main {
    max-width: 600px;
    margin: auto;
}

/* RUBRIKER */
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 25px;
    }
}

h2 {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 2px solid #b5b5b5;
}

@media (min-width: 600px) {
    h2 {
        font-size: 30px;
        margin-top: 50px;
        padding-top: 50px;
    }
}

h3 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 600px) {
    h3 {
        font-size: 22px;
    }
}


/* IKONER */
.fa-solid {
    padding-left: 5px;
}


/* KNAPPAR */
/* Standardinställningar */
.login button,
.logout button,
.add-exercise button,
.edit-btn,
.save-btn,
.cancel-btn,
.delete-btn,
.add-admin button {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    transition: 0.3s;
}

@media (min-width: 600px) {

    .login button,
    .logout button,
    .add-exercise button,
    .edit-btn,
    .save-btn,
    .cancel-btn,
    .delete-btn,
    .add-admin button {
        height: 40px;
    }
}

.login button:hover,
.logout button:hover,
.add-exercise button:hover,
.edit-btn:hover,
.save-btn:hover,
.cancel-btn:hover,
.delete-btn:hover,
.add-admin button:hover {
    cursor: pointer;
}

/* Logga ut-knapp */
.logout button {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Svart knapp */
.login button,
.logout button,
.edit-btn {
    color: white;
    background-color: #626262;
    box-shadow: 0 0 10px black inset, 0 0 2px black inset;
}

.login button:hover,
.logout button:hover,
.edit-btn:hover {
    background-color: black;
}

/* Grön knapp */
.add-exercise button,
.save-btn,
.add-admin button {
    color: white;
    background-color: #4d9749;
    box-shadow: 0 0 10px #254a17 inset, 0 0 2px #254a17 inset;
}

.add-exercise button:hover,
.save-btn:hover,
.add-admin button:hover {
    background-color: #254a17;
}

/* Senapsgul knapp */
.edit-btn {
    color: white;
    background-color: #a88300;
    box-shadow: 0 0 10px #584602 inset, 0 0 2px #584602 inset;
}

.edit-btn:hover {
    background-color: #584602;
}

/* Röd knapp */
.cancel-btn,
.delete-btn {
    color: white;
    background-color: #974949;
    box-shadow: 0 0 10px #4a1717 inset, 0 0 2px #4a1717 inset;
}

.cancel-btn:hover,
.delete-btn:hover {
    background-color: #4a1717;
}


/* TEXTAREA & INPUT */
textarea {
    height: 100px;
    font-weight: 300;
}

input {
    font-weight: 300;
}

@media (min-width: 600px) {

    input,
    textarea {
        font-size: 18px;
    }
}


/* FELMEDDELANDE */
.error-msg {
    text-align: center;
    font-weight: 500;
    line-height: normal;
    color: rgb(200, 0, 0);
}


/* MEDDELANDE */
.success-msg {
    text-align: center;
    font-weight: 500;
    line-height: normal;
    color: rgb(14, 167, 0);
}


/* LOGGA IN */
.login {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

@media (min-width: 600px) {
    .login {
        padding: 50px;
        margin-top: 20vh;
    }
}

.login input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #f6f6f6;
}

/* ADMINISTRERA */
.admin {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

.admin h1 {
    margin-top: 10px;
}

@media (min-width: 600px) {
    .admin {
        padding: 50px;
        margin: 40px 0;
    }

    .admin h1 {
        margin-top: 20px;
    }
}

/* Lägg till övning */
.add-exercise input[type="text"] {
    margin-bottom: 10px;
}

.add-exercise input[type="text"],
.add-exercise textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.add-exercise input[type="file"] {
    font-size: 14px;
}

@media (min-width: 600px) {
    .add-exercise input[type="file"] {
        font-size: 18px;
    }
}

/* Tillagda övningar */
.added-exercise {
    border: 1px solid #b5b5b5;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .added-exercise {
        padding: 20px;
        margin-bottom: 30px;
    }
}

.added-exercise p {
    margin: 3px 0;
}

.video-container {
    width: 100%;
    max-width: 80px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}

.video-wrap {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Redigera övning */
.added-exercise input[type="text"] {
    margin-bottom: 10px;
}

.added-exercise input[type="text"],
.added-exercise textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #b5b5b5;
    background-color: #f6f6f6;
    border-radius: 5px;
}

/* Lägg till administratör */
.add-admin input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #b5b5b5;
    background-color: #f6f6f6;
    border-radius: 5px;
}